/* shared-start */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


body {
    max-width: 1440px;
    width: 100vw;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.banner-list-typography {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-primary {
    border: none;
    border-radius: 3rem;
    background: #FF42A5;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.content-title {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-title-black {
    background: #0B0223;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-description {
    color: #534C64;
    font-weight: 400;
    margin: 1.5rem 0;
}

/* shared-end */
/* navigation-start */

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem auto;
}

.nav-title,
nav>ul,
nav>ul>li:last-child {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 0;
}

nav>ul>li {
    list-style: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

nav>ul>li>a {
    text-decoration: none;
}

nav h1 {
    font-size: 2rem;
    font-weight: 700;
}

nav h1>span {
    color: #FF42A5;
}

nav>ul>li:last-child {
    border: none;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.1rem;
}

/* navigation-end */
/* banner-start */

.banner-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(140, 87, 238, 0.1), rgba(241, 68, 175, 0.1));
    padding: 1.5rem 0;
}

.banner-container>div {
    width: 40%;
}

.banner-img-container>img {
    width: 100%;
}

.banner-content {
    padding-left: 5rem;
    margin: 0;
}

.banner-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-exclusive {
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content li:nth-child(3) {
    list-style: url(icons/Frame.svg);
    margin-top: 1.5rem;
}

.banner-content li:nth-child(4) {
    list-style: url(icons/Frame-1.svg);
}

.banner-content li:nth-child(5) {
    list-style: url(icons/Frame-2.svg);
    margin-bottom: 1.5rem;
}

.banner-content>button:last-child {
    background: #4EC5F7;
    margin-left: 1rem;
}

/* banner-end */
/* gamer-start */

.gamer-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 66, 164, 0.03), rgba(255, 66, 165, 0.1));
    padding: 1.5rem 0;
}

.gamer-container>div:first-child {
    width: 50%;
}

.gamer-container>div:last-child {
    width: 30%;
    text-align: end;
}

.gamer-img-container>img {
    width: 100%;
}

.gamer-content {
    padding-right: 5rem;
    margin: 0;
}

.gamer-content>.our-purpose {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.5rem 0;
}

.gamer-content>.our-purpose>span {
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 700;
}

/* gamer-end */
/* online-games-start */

.online-games-container {
    text-align: center;
    padding: 1.5rem 0;
}

.online-games-card-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.online-games-card {
    width: 20%;
    position: relative;
}

.online-games-card>img {
    width: 100%;
}

/* hover-play-effect-start */

.hover-play-effect {
    display: none;
    position: absolute;
    top: calc(40% - 2rem);
    left: calc(40% - 1.5rem);
    color: #FF42A5;
    font-size: 1.2rem;
    font-weight: 700;
}

.online-games-card:hover>img {
    border: 4px solid #FF42A5;
    border-radius: 1rem;
}

.online-games-card:hover .hover-play-effect {
    display: block;
}

/* hover-play-effect-end */
/* online-games-end */


/* media query - mobile devices */
@media screen and (max-width: 576px) {

    nav,
    nav ul,
    .gamer-container,
    .online-games-card-container {
        flex-direction: column;
        align-items: center;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        padding-left: 0;
    }

    .banner-container>div,
    .online-games-card {
        width: 80%;
    }

    .gamer-container>div:first-child {
        width: 80%;
    }

    .gamer-container>div:last-child {
        width: 80%;
        text-align: center;
    }

    .gamer-content {
        padding-right: 0;
    }

}

/* media query - tablet devices */
@media screen and (min-width: 577px) and (max-width: 920px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}